auto-save-list/
elpa*/
eglot*/
backup/
share/
server/
transient/
bookmarks
history
.session
.smex*
helm-adaptive-history
recentf
places
projects
.*.el
custom.el
ido.last
*.elc
*.desktop
*.lock
*.eld
.org-id-locations
org-roam.db
